body{
    margin:0;
    padding:0;
    background-color: black;
    
    
}
img {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  display:block;
  overflow: hidden;
}   

#Sun {
    border-radius:50%;
    position:absolute;
    top: 40vw;
    left: 44vw;
    width: 10vw;
    height: 10vw;
    background-color: red;
    opacity: 10%;
    overflow: hidden;
    
}
#Sun:hover {
    background-color: wheat;
    opacity: 30%;
    box-shadow: 120%, 120%, white;
}


#Desert {
    border-radius:50%;
    position:absolute;
    top: 34.5vw;
    left: 45.5vw;
    width: 2.5vw;
    height: 2.5vw;
    background-color: red;
    opacity: 1%;
    overflow: hidden;
    
}
#Desert:hover {
    background-color: wheat;
    opacity: 30%;
    box-shadow: 120%, 120%, white;
}



