body{
   
    background-color: black;
    background-image: url("Solar system.png");
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow:hidden
    
    
    
}


@font-face {
    font-family: 'DigiText'; /*a name to be used later*/
    src:url(DS-DIGI.TTF) /*URL to font*/
}

h1{
  text-underline-offset: 12;
  font: bolder italic;
  font-size: 25px;

  border: 5px, white, double;
  margin: 15px ;
  margin-top: 5px;
  border-radius: 15px 35px 15px;;
  text-align:center
  
}

/*img {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  object-fit:none;
  display:block;
  overflow: hidden;
  position:absolute
}   */

/*Remember when done to make all of the Highlighter RED placeholders on planets/spots invisible */
/*Include little tooltip in top right corner*/

#Sun {
    border-radius:50%;
    position:absolute;
    top: 49%;
    left: 49.5%;
    width: 5vw;
    height: 5vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

.Tooltip { /*From W2S */ /* This section is universal for nearly all of the page, no need to replicate for each planet */
  visibility: hidden;
  position: absolute;
  line-break:auto;
  display: inline-block;
  left:20px;
  top:20px;
  width: 230px;
  height: auto;
  background-color: rgba(62, 121, 163, 0.806);
  color: white;
  font-weight: 800;
  text-align:justify;
  font-size:15px;
  padding: 5px 15px;
  padding-bottom: 15px;
  margin: 10px;
  font-family: "DigiText";
  z-index: 1; /* Ensure tooltip is displayed above content */
  /*Border styling because Fuck me there's a lot to write to be fancy*/
  border-radius: 15px 35px 15px;
  border-style:solid;
  border-left-style: double;
  border-top-left-radius: 0;
  border-width: 2px ;
  border-left-width: 5px;
  border-color: lightblue;
}


#Sun:hover {
    background-color: rgba(245, 222, 179, 0.505);
}

/*change back to active when done*/
#Sun:hover .Tooltip {
    visibility:visible;
}
