body{
   
    background-color: black;
    background-image: url("Solar system.png");
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow:hidden
    
    
    
}

h1{
  text-decoration-line: overline underline; 
  font: bolder italic;
  font-size: larger;
  
}

/*img {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  object-fit:none;
  display:block;
  overflow: hidden;
  position:absolute
}   */

/*Remember when done to make all of the Highlighter RED placeholders on planets/spots invisible */
/*Include little tooltip in top right corner*/

#Sun {
    border-radius:50%;
    position:absolute;
    top: 49%;
    left: 49.5%;
    width: 5vw;
    height: 5vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

.SunTip { /*From W2S */
  visibility: hidden;
  position: absolute;
  line-break:auto;
  display: inline-block;
  left:20px;
  top:20px;
  width: 230px;
  height: 250px;
  background-color: rgba(62, 121, 163, 0.806);
  color: white;
  font-weight: 800;
  text-align: center;
  padding: 5px 0;
  z-index: 1; /* Ensure tooltip is displayed above content */
  /*Border styling because Fuck me there's a lot to write to be fancy*/
  border-radius: 15px 35px 15px;
  border-style:solid;
  border-left-style: double;
  border-top-left-radius: 0;
  border-width: 2px ;
  border-left-width: 5px;
  border-color: lightblue;
}


#Sun:hover {
    background-color: rgba(245, 222, 179, 0.505);
}

#Sun:active .SunTip {
    visibility:visible;
}
