body{
   
    background-color: black;
    background-image: url("Solar system.png");
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow:hidden
    
    
    
}


@font-face {
    font-family: 'DigiText'; /*a name to be used later*/
    src:url(DS-DIGI.TTF) /*URL to font*/
}

h1{
  text-underline-offset: 12;
  font: bolder italic;
  font-size: 25px;
  width: auto;
  border: 5px, white, double;
  padding-left:5px;
  padding-right:5px;
  margin: 15px ;
  margin-top: 5px;
  border-radius: 15px 35px 15px;;
  text-align:center
  
}

#Guidance { 
  position: fixed;
  line-break:auto;
  left: 70%;
  top:1%;
  width: 150px;
  height: auto;
  background-color: rgba(62, 163, 121, 0.797);
  color: white;
  font-weight: 800;
  text-align:justify;
  font-size:17px;
  padding: 5px 15px;
  padding-bottom: 15px;
  margin: 10px;
  font-family: "DigiText";
  z-index: 0; /* Ensure tooltip is displayed above content */
  /*Border styling because Fuck me there's a lot to write to be fancy*/
  border-radius: 15px;
  border-style:solid;
  border-left-style: double;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-width: 2px ;
  border-left-width: 5px;
  border-color: lightgreen;
}

#Book {
    position:absolute;
    top: 1.8%;
    left: 20%;
    width: 2vw;
    height: 2vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}
.TooltipBook {
  visibility: hidden;
  position: absolute;
  line-break:auto;
  display: inline-block;
  left:20px;
  top:20px;
  width: 750px;
  height: auto;
  background-color: rgba(62, 163, 121, 0.797);
  color: white;
  font-weight: 800;
  text-align:justify;
  font-size:16px;
  padding: 5px 15px;
  padding-bottom: 15px;
  margin: 10px;
  font-family: "DigiText";
  z-index: 1; /* Ensure tooltip is displayed above content */
  /*Border styling because Fuck me there's a lot to write to be fancy*/
  border-radius: 15px 35px 15px;
  border-style:solid;
  border-left-style: double;
  border-top-left-radius: 0;
  border-width: 2px ;
  border-left-width: 5px;
  border-color: lightblue;
}

#Book:hover {
    background-color: rgba(240, 238, 234, 0.244);
}


#Book:hover .TooltipBook {
    visibility:visible;
}


.TooltipEvil {
  visibility: hidden;
  position: absolute;
  line-break:auto;
  display: inline-block;
  left:-210px;
  top:-210px;
  width: 400px;
  height: auto;
  background-color: rgba(152, 28, 6, 0.806);
  color: rgb(8, 8, 8);
  font-weight: 800;
  text-align:justify;
  font-size:13px;
  padding: 5px 15px;
  padding-bottom: 15px;
  margin: 10px;
  font-family: "DigiText";
  z-index: 1; /* Ensure tooltip is displayed above content */
  /*Border styling because Fuck me there's a lot to write to be fancy*/
  border-radius: 15px 35px 15px;
  border-style:solid;
  border-left-style: double;
  border-top-left-radius: 0;
  border-width: 2px ;
  border-left-width: 5px;
  border-color: rgb(79, 3, 3);
}
/*img {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  object-fit:none;
  display:block;
  overflow: hidden;
  position:absolute
}   */

/*Remember when done to make all of the Highlighter RED placeholders on planets/spots invisible */
/*Include little tooltip in top right corner*/

#Sun {
    border-radius:50%;
    position:absolute;
    top: 49%;
    left: 49.5%;
    width: 5vw;
    height: 5vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

.Tooltip { /*From W2S */ /* This section is universal for nearly all of the page, no need to replicate for each planet */
  visibility: hidden;
  position: absolute;
  line-break:auto;
  display: inline-block;
  left:20px;
  top:20px;
  width: 210px;
  height: auto;
  background-color: rgba(62, 121, 163, 0.806);
  color: white;
  font-weight: 800;
  text-align:justify;
  font-size:15px;
  padding: 5px 15px;
  padding-bottom: 15px;
  margin: 10px;
  font-family: "DigiText";
  z-index: 1; /* Ensure tooltip is displayed above content */
  /*Border styling because Fuck me there's a lot to write to be fancy*/
  border-radius: 15px 35px 15px;
  border-style:solid;
  border-left-style: double;
  border-top-left-radius: 0;
  border-width: 2px ;
  border-left-width: 5px;
  border-color: lightblue;
}


#Sun:hover {
    background-color: rgba(240, 238, 234, 0.244);
}

/*change back to active when done*/
#Sun:hover .Tooltip {
    visibility:visible;
}





/*Blinkgate*/
#Blinkgate {
    border-radius:50%;
    position:absolute;
    top: 19%;
    left: 25.5%;
    width: 3vw;
    height: 3vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Blinkgate:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Blinkgate:hover .Tooltip {
    visibility:visible;
}



/* Mendel-1*/
#Mendel-1{
    border-radius:50%;
    position:absolute;
    top: 34.7%;
    left: 63.2%;
    width: 3vw;
    height: 3vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Mendel-1:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Mendel-1:hover .Tooltip {
    visibility:visible;
}

/*Mendel-2*/
#Mendel-2{
    border-radius:50%;
    position:absolute;
    top: 32.8%;
    left: 65.3%;
    width: 0.8vw;
    height: 0.8vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Mendel-2:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Mendel-2:hover .Tooltip {
    visibility:visible;
}

#Dawnlight{
    border-radius:50%;
    position:absolute;
    top: 15.3%;
    left: 48.6%;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Dawnlight:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Dawnlight:hover .Tooltip {
    visibility:visible;
}


#Kaufin-3{
    border-radius:50%;
    position:absolute;
    top: 74.5%;
    left: 34.4%;
    width: 1.6vw;
    height: 1.6vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Kaufin-3:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Kaufin-3:hover .Tooltip {
    visibility:visible;
}


#Passacaglia{
    border-radius:50%;
    position:absolute;
    top: 67.5%;
    left: 39%;
    width: 1.8vw;
    height: 1.8vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Passacaglia:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Passacaglia:hover .Tooltip {
    visibility:visible;
}


#Longhaul{
    border-radius:50%;
    position:absolute;
    top: 59.5%;
    left: 60%;
    width: 4vw;
    height: 2.5vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Longhaul:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Longhaul:hover .Tooltip {
    visibility:visible;
}

#AlignmentCheck{
    position:absolute;
    top: 98.3%;
    left: 19.8%;
    width: 1vw;
    height: 1vw;
    background-color: rgba(255, 0, 0, 0.523);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#AlignmentCheck:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#AlignmentCheck:hover .Tooltip {
    visibility:visible;
}


#Corpulus{
    border-radius:50%;
    position:absolute;
    top: 50.6%;
    left: 34.05%;
    width: 4vw;
    height: 4vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Corpulus:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Corpulus:hover .Tooltip {
    visibility:visible;
}

#Corpulus-3{
    border-radius:50%;
    position:absolute;
    top: 46.2%;
    left: 36.25%;
    width: 1.2vw;
    height: 1.2vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Corpulus-3:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Corpulus-3:hover .Tooltip {
    visibility:visible;
}

#Totec-1{
    border-radius:50%;
    position:absolute;
    top: 40.05%;
    left: 48.3%;
    width: 1.2vw;
    height: 1.2vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Totec-1:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Totec-1:hover .Tooltip {
    visibility:visible;
}


#Wander{
    border-radius:50%;
    position:absolute;
    top: 37%;
    left: 46.5%;
    width: 1.4vw;
    height: 1.4vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Wander:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Wander:hover .Tooltip {
    visibility:visible;
}



#Yellow{
    border-radius:50%;
    position:absolute;
    top: 31%;
    left: 45.55%;
    width: 1.6vw;
    height: 1.6vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Yellow:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Yellow:hover .Tooltip {
    visibility:visible;
}



#Green{
    border-radius:50%;
    position:absolute;
    top: 30.4%;
    left: 52.1%;
    width: 1.9vw;
    height: 1.9vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

#Green:hover {
   background-color: rgba(240, 238, 234, 0.244);
}

#Green:hover .Tooltip {
    visibility:visible;
}

#Poem{
    border-radius:50%;
    position:absolute;
    top: 79.4%;
    left: 64%;
    width: 1vw;
    height: 1vw;
    background-color: rgba(255, 0, 0, 0);
    opacity: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}


#Poem:active .TooltipEvil {
    visibility:visible;
}
